<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="hachiuebani123Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hachiuebani123.mssql.somee.com;initial catalog=hachiuebani123;persist security info=True;user id=krgxee_SQLLogin_1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="hachiuebani123Entities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hachiuebani123.mssql.somee.com;initial catalog=hachiuebani123;user id=krgxee_SQLLogin_1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="hachiuebani123Entities2" connectionString="metadata=res://*/bd.Model1.csdl|res://*/bd.Model1.ssdl|res://*/bd.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hachiuebani123.mssql.somee.com;initial catalog=hachiuebani123;user id=krgxee_SQLLogin_1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="hachiuebani123Entities3" connectionString="metadata=res://*/bd.Model1.csdl|res://*/bd.Model1.ssdl|res://*/bd.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=hachiuebani123.mssql.somee.com;initial catalog=hachiuebani123;user id=krgxee_SQLLogin_1;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>